@charset "UTF-8";
@font-face
{
	font-family:Montserrat-Regular;
	src : url('Montserrat-Regular.otf');
}

#background
{
z-index:1;	
position:fixed;
top:0px;
left:0px;

}

/* Les ombres ont foutus la merde grave, sketch ne considére pas les ombres comme des pixel, alors de DW si
il faut donc recalculer toutes les pos ( shadows 10x10 mais pas toujours bien interprétées pas DW/Export PNG */
#framedroite
{

z-index:2;
left:470px;
position:absolute;

}

#rectanglegaucheB
{
left:146px;
z-index:3;
position:absolute;
}

#rectanglegauchea
{
z-index:4;
left:166px;
top:28px;
position:absolute;
	
}

#candle
{
z-index:5;  /* Le reste du content sera sur du 5 */ 
left:246px;
position:absolute;
top:50px;

}
#rectangleorange
{
top:634px;
left:197px;
z-index:5;
position:absolute;
}

#location
{
top:319px;
left:293px;
position:absolute;
z-index:5;
	
}


#hdtest
{
top:189px;
left:983px;
position:absolute;
z-index:5;		
}

#tools
{
top:189px;
left:808px;
position:absolute;
z-index:5;		
}

#client
{
top:189px;
left:633px;
position:absolute;
z-index:5;		
}

#titre1
{
top:71px;
left:641px;
position:relative;
z-index:5;	
font-family: Montserrat-Regular;
font-size: 35px;
color: #98948D;
letter-spacing: 1.55px;
line-height: 43px;
display:inline;

}
	
	