@charset "UTF-8";
@font-face
{
	font-family:Montserrat-Regular;
	src : url('Montserrat-Regular.otf');
	
	font-family:Montserrat-UltraLight;
	src : url('Montserrat-UltraLight.otf');
	
	font-family:LucidaGrande;
	src : url('LucidaGrande.ttc');
	
	
	
	
	
	
}

#name 
{
	position:absolute;
	left:200px;
	top:220px;
	width:275px;
	height:68px;
	z-index:5;
	text-align:center;
	
	/* Thom’s Corner: */
font-family: Montserrat-Regular;
font-size: 23.09px;
color: #433E36;
letter-spacing: 1px;
line-height: 27px;
}

#name .ss1 
{
	/* Rose & Projects: */
font-family: Raleway-Regular;
font-size: 14px;
color: #433E36;
letter-spacing: 0.6px;
line-height: 16px;
}

#name .ss2 
{
	/* Rose & Projects: */
font-family: Raleway-Regular;
font-size: 14px;
color: #433E36;
letter-spacing: 0.6px;
line-height: 16px;
}

nav #locationtxt
{
	
position:absolute;
	left:202px;
	top:325px;
	width:275px;
	height:68px;
	z-index:5;
	text-align:center;	
	
	/* Zant: */
opacity: 0.5;
font-family: Raleway-SemiBold;
font-size: 17.31px;
color: #433E36;
line-height: 20px;
	
}

.boutonorange
{
    width : 275px;
    height : 68px;
    display : block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
    background : url("Rectangle 9 + Shortlist.png") no-repeat;
	background-size: 275px 68px;
}

div.bouton5

{
	position:absolute;
	left:205px;
	top:634px;
	width:275px;
	height:68px;
	z-index:5;
	
}

div.bouton4
{
width:219;
height:32;
position:absolute;
z-index:5;
top:557px;
left:225px;

}

div.bouton3
{
width:219;
height:32;
position:absolute;
z-index:5;
top:504px;
left:225px;

}

div.bouton2
{
width:219;
height:32;
position:absolute;
z-index:5;
top:454px;
left:225px;

}

div.bouton1
{
top:404px;
left:225px;
width:219;
height:32;
position:absolute;
z-index:5;

}

.bouton
{
    width : 219px;
    height : 32px;
    display : block; /*Très important, sinon les dimensions ne sont pas prises en compte*/
    background : url("bouton.png") no-repeat;
	background-size: 219px 32px;
}

.bouton:hover
{
    background-image : url("hooverb.png");
}



#background
{
z-index:1;	
position:fixed;
top:0px;
left:0px;

}

/* Les ombres ont foutus la merde grave, sketch ne considére pas les ombres comme des pixel, alors de DW si
il faut donc recalculer toutes les pos ( shadows 10x10 mais pas toujours bien interprétées pas DW/Export PNG */
#framedroite
{

z-index:2;
left:470px;
position:absolute;

}

#rectanglegaucheB
{
left:146px;
z-index:3;
position:absolute;
}

#rectanglegauchea
{
z-index:4;
left:166px;
top:28px;
position:absolute;
	
}

#candle
{
z-index:5;  /* Le reste du content sera sur du 5 */ 
left:246px;
position:absolute;
top:50px;

}
#rectangleorange
{
top:634px;
left:197px;
z-index:5;
position:absolute;
}

#location
{
top:319px;
left:293px;
position:absolute;
z-index:5;
	
}


#hdtest
{
top:189px;
left:983px;
position:absolute;
z-index:5;		
}

#tools
{
top:189px;
left:808px;
position:absolute;
z-index:5;		
}

#client
{
top:189px;
left:633px;
position:absolute;
z-index:5;		
}

#titre1
{
top:71px;
left:641px;
width:444px;
position:absolute;
z-index:5;	
font-family: Montserrat-Regular;
font-size: 35px;
color: #98948D;
letter-spacing: 1.55px;
line-height: 43px;
display:inline-block;

}
	
	#stire1
{
	width:600px;
		top: 313px;
	left: 655px;
	position: absolute;
	z-index: 5;
	font-family: raleway;
	font-size: 14px;
	color: #98948D;
	letter-spacing: 1.55px;
	line-height: 43px;
	display: inline;
	word-spacing: 125px;
}
	
#titre2
{
	left: 641px;
	top: 409px;
	position: absolute;
	display: inline-block;
	width:444px;

	z-index: 5;
	/* R.O.S.E Online Proje: */
	font-family: Montserrat-Regular;
	font-size: 36px;
	color: #98948D;
	letter-spacing: 1.55px;
	line-height: 43px;	
}

#projectlist

{
	top : 475px;
	left : 735px;
	width : 257px;
	height: 174px;
	position: absolute;
	z-index: 5;
	/* Osrose Mobile: */
	font-family: Montserrat-UltraLight;
	font-size: 24px;
	color: #98948D;
	letter-spacing: 1.03px;
	line-height: 29px;
	text-align: center;
}
	
	* {
  font-family: 'Open Sans', sans-serif;
}
.button-fill {
	
  text-align: center;
  background: #ccc;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  margin: 25px;
}

.button-fill.orange {
	border-radius: 10px;
  background: #f26b43;
  color: #fff;
}
.button-fill.orange .button-inside {
	
  color: #f26b43;
}
.button-fill.orange .button-inside.full {
	
  border: 1px solid #f26b43;
}
.button-text {
	
  padding: 0 25px;
  line-height: 56px;
  letter-spacing: .1em;
}
.button-inside {
  width: 0px;
  height: 54px;
  margin: 0;
  float: left;
  position: absolute;
  top: 1px;
  left: 50%;
  line-height: 54px;
  color: #445561;
  background: #fff;
  text-align: center;
  overflow: hidden;
  -webkit-transition: width 0.5s, left 0.5s, margin 0.5s;
  -moz-transition: width 0.5s, left 0.5s, margin 0.5s;
  -o-transition: width 0.5s, left 0.5s, margin 0.5s;
  transition: width 0.5s, left 0.5s, margin 0.5s;
}
.button-inside.full {
  width: 100%;
  left: 0%;
  top: 0;
  margin-right: -50px;
  border: 1px solid #445561;
  border-radius: 10px;
}
.inside-text {
  text-align: center;
  position: absolute;
  right: 50%;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#menu a {
	color: #433E36;
	text-decoration: none;
	margin: 0;
	padding: 0;
	text-align: left;
	}


#menu li{
opacity: 0.5;
font-family: LucidaGrande;
font-size: 14.43px;
color: #433E36;
letter-spacing: 0.62px;
line-height: 50px;
list-style:none;
margin:0;
padding:0;
}


#menu
{
position:absolute;
top:381px;
left:247px;
z-index:6;
margin:0;
padding:0;
text-align: center;
pointer-events: none;

}
